$Pink:#FF99C8;
$Cream:#FCF6BD;
$LightBlue:#D0F4DE;
$Blue:#A9DEF9;
$Purple:#E4C1F9;
$White: #FFFFFF;
$Black: #231B1B;

@font-face {
font-family: 'Bukhari';
src: url('../../components//fonts/bukhari/Bukhari\ Script.ttf');
font-weight: 900;
font-style:normal;
font-stretch: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Nanum+Gothic+Coding&family=Noto+Sans&display=swap');

.examples{
font-family: 'Fanwood Text', serif;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Noto Sans', sans-serif;
font-family:'Bukhari';
}

.BackHome{
background-color: $Black;
width: 100%;
min-height: 200vh;
height: fit-content;
background-image: linear-gradient(90deg, #fcf6bd 48.08%, #ff99c8 48.08%, #ff99c8 50%, #fcf6bd 50%, #fcf6bd 98.08%, #ff99c8 98.08%, #ff99c8 100%);
background-size: 104.00px 104.00px;
justify-items: center;
align-items: flex-start;
display: flex;
}

.posts{
display: flex;
align-items: center;
justify-items: center;
width: 100%;
}

.zoom{
    width: 100%;
}