$Pink: #ff99c8;
$Cream: #fcf6bd;
$LightBlue: #d0f4de;
$Blue: #a9def9;
$Purple: #e4c1f9;
$White: #ffffff;
$Black: #231b1b;

@font-face {
  font-family: "Bukhari";
  src: url("../../components//fonts/bukhari/Bukhari\ Script.ttf");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Nanum+Gothic+Coding&family=Noto+Sans&display=swap");

.examples {
  font-family: "Fanwood Text", serif;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Noto Sans", sans-serif;
  font-family: "Bukhari";
}

.zoom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.calendar {
  display: block;
  width: 150%;
  align-items: center;
  background-color: $White;
  font-family: "Noto Sans", sans-serif;
  border: solid 0.2rem $Black;
  font-size: 1.5vh;
  font-weight: bold;
  color: $Black;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 5%;
  &:hover {
    cursor: url(../../components/images/pointer.png), default;
  }
  button {
    background-color: $White;
    font-family: "Noto Sans", sans-serif;
    border: solid 0.05px $Black;
    font-size: 2vh;
    color: $Black;
    font-weight: bold;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $Pink;
      transition-duration: 1s;
      cursor: url(../../components/images/pointer.png), default;
    }
  }
}

.miniBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $Pink;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  margin-bottom: 5%;
}

.miniText {
  font-family: "Noto Sans", sans-serif;
  font-size: 2vh;
  color: $Black;
  font-weight: bold;
}

.popUp {
  position: fixed;
  bottom: 10%;
  right: 35%;
  z-index: 3;
  width: 30%;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-image: linear-gradient(
    to right top,
    #d0f4de,
    #bff0e4,
    #b1ecec,
    #a9e6f3,
    #a9def9
  );
  border-radius: 10px 10px 10px 10px;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.boxForms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 10%;
  background-image: linear-gradient(
    to right top,
    #d0f4de,
    #bff0e4,
    #b1ecec,
    #a9e6f3,
    #a9def9
  );
}

.sorTforms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.sortTitleForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.titleForm {
  font-size: 5vh;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  margin-bottom: 1%;
  margin-top: 1%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  flex-direction: column;
  text-align: center;
}

.iconsForm {
  min-width: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  margin-right: 2%;
}

.iconsFormLog {
  min-width: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  margin-left: 2%;
}

.labelPopUp {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-start;
  flex-direction: row;
  font: size 3vh;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.inputPopUp {
  display: flex;
  width: 60%;
  margin-bottom: 7%;
  height: 2rem;
  font: size 4vh;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  background-color: $White;
  border: transparent;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.label {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  font: size 3vh;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.input {
  display: flex;
  width: 100%;
  margin-bottom: 7%;
  height: 2rem;
  font: size 4vh;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  background-color: $White;
  border: transparent;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.sortButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 12rem;
  height: 4rem;
  border-radius: 10px 10px 10px 10px;
  color: $Black;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Noto Sans", sans-serif;
  font-size: 3vh;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: transparent;
  font-weight: bold;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $Pink;
    border-radius: 10px 10px 10px 10px;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($Pink, 15%);
    transition: all 0.3s;
    border-radius: 10px 10px 10px 10px;
    z-index: -1;
  }
  &:hover {
    color: $Cream;
    cursor: url(../../components/images/pointer.png), default;
    &:before {
      width: 100%;
    }
  }
}

.buttonBack {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: 2rem;
  border-radius: 10px 10px 10px 10px;
  color: $Black;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  font-family: "Noto Sans", sans-serif;
  font-size: 2vh;
  margin-top: 1%;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: transparent;
  font-weight: bold;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $Pink;
    border-radius: 10px 10px 10px 10px;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($Pink, 15%);
    transition: all 0.3s;
    border-radius: 10px 10px 10px 10px;
    z-index: -1;
  }
  &:hover {
    color: $Cream;
    cursor: url(../../components/images/pointer.png), default;
    &:before {
      width: 100%;
    }
  }
}

.iconButtons {
  max-width: 1.5rem;
  min-width: 1.5rem;
  max-height: 1.5rem;
  min-height: 1.5rem;
}

.buttonX {
  display: flex;
  width: 100%;
  margin-right: 3%;
  margin-top: 1%;
  justify-content: flex-end;
}

@media (max-width: 1248px) {
  .boxForms {
    width: 80%;
  }

  .label {
    font-size: 2vh;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .labelPopUp {
    font-size: 2vh;
  }

  .iconsForm {
    min-width: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    min-height: 3rem;
  }

  .titleForm {
    font-size: 5vh;
  }

  .form {
    width: 60%;
  }

  .input {
    height: 4rem;
    font-size: 1.5vh;
  }

  .inputPopUp {
    height: 4rem;
    font-size: 1.5vh;
  }

  .button {
    font-size: 1.5vh;
    width: 15rem;
    height: 6rem;
  }

  .popUp {
    width: 70%;
    bottom: 50%;
    left: 15%;
  }

  .buttonBack {
    width: 5rem;
    height: 4rem;
  }

  .iconButtons {
    max-width: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    min-height: 3rem;
  }
}
